---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;

---

<li class="sns-card no-margin-top">
  <a href={href}>
    <div class="title no-margin-top">{title}</div>
  </a>
</li>

<style>

.sns-card {
  list-style: none;
  display: flex;
  padding: 4px;
  background-color: #fff;
  background: #ddd;
  border-radius: 8px;
  border-image-slice: 1;
  background-position: 0;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  text-align: center;
}

.sns-card > a {
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 4px;
  color: #222;
}

.sns-card .title {
  margin: 0;
  font-weight: 600;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.sns-card:is(:hover, :focus-within) {
  background: var(--accent-gradient);
  border-radius: 8px;
  border-image-slice: 1;
  background-position: 0;
}

.sns-card:is(:hover, :focus-within) .title {
  background: var(--accent-gradient);
  background: -webkit-linear-gradient(0deg, #4158D0, #C850C0 30%, #FFCC70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s;
}

</style>
